In [2]:
import pandas as pd

In [5]:
file = '/content/Sales.csv'
df = pd.read_csv(file)

In [6]:
df

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
3109,POCO,M4 Pro 5G,Cool Blue,6 GB,128 GB,Yes,4.4,16999,19999,POCO M4 Pro 5G,3000,15.000750
3110,Nokia,225,Black,NaN,Expandable Upto 32 GB,Yes,3.6,3499,3499,Nokia 225,0,0.000000
3111,Apple,iPhone SE,White,2 GB,128 GB,Yes,4.5,44900,44900,Apple iPhone SE,0,0.000000
3112,Apple,iPhone 13 Pro,Gold,6 GB,128 GB,Yes,NaN,119900,119900,Apple iPhone 13 Pro,0,0.000000
3113,GIONEE,F9,Blue,3 GB,32 GB,Yes,4.2,7900,7900,GIONEE F9,0,0.000000

### Business Understanding

Dalam industri teknologi yang sangat kompetitif, produsen dan peritel smartphone perlu memahami dinamika harga dan spesifikasi untuk tetap relevan. Masalah utama yang sering dihadapi adalah menentukan harga jual yang kompetitif namun tetap menguntungkan, serta memahami fitur apa yang sebenarnya menjadi standar di tiap segmen pasar (Low, Mid, High-end). Analisis ini bertujuan untuk mengekstrak pola dari data historis penjualan untuk mendukung pengambilan keputusan strategis.

### Business Objective
Tujuan utama dari proyek ini adalah:

1. **Optimalisasi Penetapan Harga:** Menentukan rentang harga yang ideal untuk model smartphone baru berdasarkan spesifikasi teknisnya.

2. **Analisis Dominasi Pasar:** Mengidentifikasi merek (Brand) yang memiliki varian produk terbanyak dan bagaimana pengaruhnya terhadap rata-rata harga pasar.

3. **Strategi Pemasaran Berbasis Fitur:** Mengetahui spesifikasi kunci (seperti RAM, Storage, atau Kapasitas Baterai) yang paling signifikan mendongkrak nilai jual produk.

### Assess Situation
1. **Sumber Data:** Dataset eksternal dari Kaggle yang berisi kolom seperti Nama Model, Brand, Harga, RAM, Storage, Rating, dan spesifikasi lainnya.

2. **Ketersediaan Data:** Perlu dipastikan apakah data harga menggunakan mata uang yang konsisten (misal: USD atau INR) dan apakah terdapat banyak nilai kosong (null values) pada kolom spesifikasi teknis.

3. **Kendala Teknis:** Nama model yang sangat bervariasi mungkin memerlukan proses pembersihan data (data cleaning) yang intensif agar kategori brand bisa dikelompokkan dengan benar.

3. **Alat yang Digunakan:** Google Colaboratory dengan library Python seperti Pandas untuk pengolahan data, serta Matplotlib/Seaborn untuk visualisasi.

### Analaytic Goal & Project Plan
**Analytic Goal:**

1. Melakukan analisis korelasi untuk melihat hubungan antara besaran RAM/Storage dengan Harga.

2. Melakukan pengelompokkan (clustering) sederhana atau kategorisasi smartphone berdasarkan rentang harga untuk melihat distribusi spesifikasi di tiap kelas.

3. Menghasilkan visualisasi Top 10 Brands berdasarkan jumlah model dan rata-rata rating.

**Project Plan:**

1. Data Loading: Mengimpor dataset ke dalam dataframe Pandas.

2. Data Cleaning: Menghapus simbol mata uang, mengubah tipe data (misal: RAM dari string ke integer), dan menangani missing values.

3. Exploratory Data Analysis (EDA): Membuat grafik distribusi harga dan box plot harga per brand.

4. Insight Generation: Menarik kesimpulan dari hasil visualisasi untuk menjawab tujuan bisnis yang telah ditetapkan.